<form>
  <div class="form-group">
    <h2>Find your Local Legislator</h2>
    <label for="zip">Zipcode:</label>
    {{input value=zip id="zip" placeholder="ex: 97211"}}
    <button class="btn" {{action 'zipLookup'}}>Submit</button>
  </div>
</form>
