<h1>Welcome to the
  {{#each model.committees as |committee|}}{{committee.name}}
  {{/each}}'s internet hub</h1>

<!-- <ul>
  {{#each model.committees as |committee|}}
    <li>{{committee.name}}</li>
  {{/each}}
</ul> -->


<h3>Here are my subcommittees!</h3>
<ul>
  {{#each model.subcommittees as |subcommittee|}}
    <li>{{subcommittee.name}}</li>
  {{/each}}
</ul>
